body {
    background-color: #eeeeee ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    padding-top: 25px;
}

quote {
    font-style: italic;
}

header {
    height: 100px; 
    background-color: #508593 ;
    border-radius: -35%;
}
header h2 {
    color: #f2d2ec;
    margin-left: 25px;
    padding-top: 35px;
}

p {
    color: #121214 ;
}

main h3 {
    color: #544f63 ; 
}

ul li {
    list-style: none;
    display: inline-block ;
    padding: 10px 10px 10px 10px; 
}

.title {
    color:  #508593 ;
}